<%- include('header', {title: "404 - Бет табылмады"}) %>
<div class="col" id="main-content">
    <h2 class="text-danger">404 Error</h2>
    <h4>Бұл бетті таба алмадық. Адресы дұрыс екенін тексеріңіз. </h4>
</div>
<%- include('footer') %>