<%- include('header', {title: "Контакты"}) %>
<div class="col" id="main-content">
    <h4>Электрондық пошта: <a href="mailto:til.sozdik@samgau.org.kz" target="_blank">til.sozdik@samgau.org.kz</a></h4>
</div>
<%- include('footer') %>