<%- include('header', {title: "Кодер Журналы"}) %>
<div class="col" id="main-content">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vR29O6mKMl3xnzr4p6NGRJtX7sAaUF0hMQa6JjR6SoAE2IUG_CTnXlJYd90WFzm4dAwIHpMwjefu4yh/pub?embedded=true" width="100%" height="700px"></iframe>
</div>
<%- include('footer') %>