<%- include("header", {title: "Кілтсөзін қалпына келтіру"}) -%>
<div class="col" id="main-content">
    <div id="reset-form">
        <h2>Код жіберілді</h2>
        <form action="/reset/password" method="post">
            <label for="resetcode">Электрондық поштаңызға жіберілген кодты енгізіңіз:</label><br>
            <input type="number" class="form-control" id="resetcode" name="resetcode" maxlength="14" required>
            <br>
            <label for="newpassword">Жаңа құпиясөз:</label><br>
            <input type="password" class="form-control" onkeyup="if(document.getElementById('newpasswordrepeat').value != this.value) {document.getElementById('new-password-alert').style.display = 'block'} else {document.getElementById('new-password-alert').style.display = 'none'}" id="newpassword" name="newpassword"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Кемінде бір сан және, бір бас және кіші әріп және, кемінде 8 немесе одан да көп таңба болуы керек" required>
            <br>
            <label for="newpasswordrepeat">Құпиясөзді қайталаңыз:</label><br>
            <input type="password" class="form-control" onkeyup="if(document.getElementById('newpassword').value != this.value) {document.getElementById('new-password-alert').style.display = 'block'} else {document.getElementById('new-password-alert').style.display = 'none'}" id="newpasswordrepeat" name="newpasswordrepeat"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Кемінде бір сан және, бір бас және кіші әріп және, кемінде 8 немесе одан да көп таңба болуы керек" required>
            <br>
            <p class="alert alert-danger" id="new-password-alert" style="display: none;">Құпиясөзді дұрыс қайталағаныңызды тексеріңіз. </p>
            <button type="submit" class="btn btn-primary">Құпиясөзді өзгерту</button>
        </form>
    </div>
</div>
<%- include("footer") -%>