<%- include("header", {title: "Кілтсөзін қалпына келтіру"}) -%>
<div class="col" id="main-content">
    <div id="reset-form">
        <h2>Кілтсөзін қалпына келтіру</h2>
        <form action="/reset/password/code" method="post">
            <label for="loginusername">Электронды почта:</label><br>
            <input type="email" class="form-control" id="loginusername" name="loginusername" pattern="[a-zA-Z0-9!@#$%^*_|]" required>
            <br>
            <button type="submit" class="btn btn-primary">Код жіберу</button>
        </form>
    </div>
</div>
<%- include("footer") -%>